*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2020-02-20-test.md
_posts/2022-08-21-java-notebook.md
_posts/2022-08-21-python-notebook.md
_posts/2022-08-23-primitive-collegeboard.md
_posts/2022-08-26-bash-and-checks.md
_posts/2022-08-28-primitive-pbl.md
_posts/2022-09-05-Object-Oriented-Programming-Notes.md
_posts/2022-09-10-psychology.md
_posts/2022-09-11-psychology.md
